<div class="container">
  <% @contents.each do |content| %>
    <div class="panel panel-default">
      <div class="panel-body">
        <%= link_to content.title, content %> - <i> published <%= time_ago_in_words(content.published) %> ago.</i>
      </div>
    </div>
  <% end %>
</div>
