<div class="container">
  <h3><%= link_to @content.title, @content.url %></h3>
  <i>published on <%= @content.published %> by <%= @content.author %></i>
  <p>
    <%= @content.description.html_safe %>
  </p>
</div>
